<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Component</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body style="background-color: orange">
    <nav class="nav-main">
      <div class="logo-main"></div>
      <div class="hamburger-menu"></div>
      <div class="close-menu"></div>
      <ul class="nav_menu">
        <li class="nav_menu-item">Product</li>
        <li class="nav_menu-item">Company</li>
        <li class="nav_menu-item">Connect</li>
      </ul>
      <button class="btn btn-login-web">Login</button>
      <button class="btn btn-sign-up-web">Sign up</button>
    </nav>
    <div class="nav-mobile">
      <div class="accordion">
        <button class="panel">Product</button>
        <ul class="content_accordion">
          <li><a href="">Overview</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Marketplace</a></li>
          <li><a href="">Features</a></li>
          <li><a href="">Integrations</a></li>
        </ul>
        <button class="panel">Company</button>
        <ul class="content_accordion">
          <li><a href="">About</a></li>
          <li><a href="">Team</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Careers</a></li>
        </ul>
        <button class="panel">Connect</button>
        <ul class="content_accordion">
          <li><a href="">Contact</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">LinkedIn</a></li>
        </ul>
      </div>
      <div class="nav-mobile_btns">
        <button class="btn btn-login">Login</button>
        <button class="btn btn-sign-up">Sign up</button>
      </div>
    </div>
  </body>
  <script src="../main.js"></script>
</html>
